 
  button{
    background-color: #00B46B;
    color: white;
    border-radius: .5rem;
    width: 50vw;
    height: 6vh;
    margin-bottom: 2em;
    border: none;
    font-size: 1em;;
    cursor: pointer;
  }
  
  input{
    background-color: white;
    border-radius: .5rem;
    width: 50vw;
    height: 6vh;
    margin-bottom: 0.5em;
    border: none;
    font-size: 1em;;
    padding-left: 2vh;
  }

  input, textarea, select {
    outline: 0;
}