<!-- <cartao
tituloCartao="Flores Amarelas"
textoCartao="As flores bla bla bla bla"
corDaBorda="blue"
imagemDoCartao="assets/img/flor.jpg"
(deletar)="deletar($event)"
[style]="estiloDoCartao"
>
</cartao>  -->

<div class="container">


<!--     <input type="text" #inputTexto (input)="mudarTexto(inputTexto.value)">
<p>
    {{ inputTexto }}
</p>
<input type="text" #inputTexto>
<p>
    {{ inputTexto.value}}
</p>
 -->
    <p #para>Olá Mundo!</p>
</div>


<!--
<cartao imagemDoCartao="assets/img/flor.jpg"></cartao>
<br>
<cartao tituloCartao="Outra mensagem" textoCartao="soaudigjhçsa"></cartao>
<br>
<img src="/assets/img/flor.jpg" alt="">
<br>

<cartao tituloCartao="Título 1" textoCartao="faijfg[a-z9gz[ag"></cartao>
<br>
<cartao tituloCartao="Título 2" textoCartao="qwerty"></cartao>
<br>
<cartao tituloCartao="Título 3" corDaBorda="#ff9132"></cartao>
<br>
<cartao tituloCartao="Título 4"></cartao>
<br>
<cartao></cartao> -->